<script lang="ts">
  import "../style.scss";

  import Navbar from "$lib/components/navbar.svelte";
  import { locale, locales } from "svelte-i18n";
  import { browser } from "$app/environment";

  locale.subscribe((lang) => {
    if (!browser) {
      return;
    }

    if (lang && $locales.includes(lang)) {
      window.localStorage.setItem("i18n", lang);
    }
  });
</script>

<header>
  <Navbar />
</header>

{#key $locale}
  <main>
    <!-- TODO: remove when additional language is completed -->
    {#if $locale == "ru"}
      <div>
        <p>This website has not been fully translated in this language. Expect missing content.</p>
      </div>
    {/if}
    <slot />
  </main>
{/key}
