<script lang="ts">
  import { locale, t } from "svelte-i18n";
  import type { PageData } from "./$types";

  export let data: PageData;
</script>

<div id="home-page">
  <div class="center-text">
    <h1 class="color-primary">snows.world</h1>
    <div class="no-margin">
      <h2>{$t("home.subtitle")}</h2>
      <h2>David Long</h2>
      <br />
      <h3>{$t("home.powered")} <a href="https://svelte.dev/" target="_blank">Svelte</a></h3>
    </div>

    <img id="globe" src="/images/world.png" alt="Globe" />
  </div>

  <!-- TODO: make this cleaner and more responsive -->
  <div>
    <h3 class="center-text">{$t("home.commits")}</h3>
    <div id="commit-list" class="scroll-y">
      <ol>
        {#each data.commits as commit}
          <li class="no-margin">
            <div class="flex">
              <p>{new Date(commit.created_at).toLocaleString($locale ?? "en")}</p>
              <div class="flex">
                <img src="/images/branch.svg" alt="Git branch" />
                <p>{commit.push_data.ref}</p>
              </div>
            </div>
            <a href="https://gitlab.com/projects/{commit.project_id}" target="_blank">{commit.push_data.commit_title}</a
            >
          </li>
        {/each}
      </ol>
    </div>

    <div class="text-center">
      <h3 class="p-2">{$t("home.references")}:</h3>
      <div class="inline-flex space-x-2">
        <a href="https://gitlab.com/BraveeSnow" target="_blank" class="button">GitLab</a>
        <a href="https://www.linkedin.com/in/david-w-long/" target="_blank" class="button">LinkedIn</a>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @media screen and (min-width: 48rem) {
    #home-page {
      display: flex;
      justify-content: space-evenly;
    }
  }

  #globe {
    margin: 1rem;
    width: 25vw;
  }

  #commit-list {
    border-bottom: thin solid var(--accent-primary);
    border-radius: var(--corner-radius);
    border-top: thin solid var(--accent-primary);
    height: 50vh;
    padding: 0.25rem 0;

    ol {
      padding: 0;
    }

    li {
      display: block;
      padding: 0.25rem 0;
    }

    li *.flex {
      justify-content: space-between;
    }

    img {
      height: 1rem;
      padding-right: 0.5rem;
    }
  }
</style>
