<script lang="ts">
  import { t } from "svelte-i18n";
</script>

<div class="center-text">
  <h1 class="color-primary">{$t("navbar.contact")}</h1>
  <p>Thanks for expressing your interest! I'll try to get back to you as soon as possible.</p>
</div>

<div>
  <form id="contact" method="post" action="/contact">
    <label for="name">{$t("contact.name")}</label>
    <input id="name" name="name" type="text" required />
    <label for="email">{$t("contact.email")}</label>
    <input id="email" name="email" type="email" required />
    <label for="org">{$t("contact.org")}</label>
    <input id="org" name="org" type="text" />
    <label for="message">{$t("contact.message")}</label>
    <textarea id="message" name="message" required rows="8" />
    <button type="submit">{$t("contact.send")}</button>
  </form>
</div>
