<script lang="ts">
  import { t } from "svelte-i18n";
</script>

<div class="center-text">
  <h1 class="color-primary">{$t("navbar.projects")}</h1>
  <p>
    This is a list of all the projects I have worked on. Some projects have a web interface which you can visit by
    clicking on "Launch Project".
  </p>
</div>

<ul class="desktop-split">
  <li class="flex flex-vert card">
    <img src="/images/world.png" alt="Snow's World screenshot" class="center" />
    <h3 class="center-text">Snow's World</h3>
    <p>
      The landing page of Snow's World. This site contains some information about my skills and a list of my projects.
    </p>
    <div class="flex flex-vert-end flex-between">
      <a href="https://gitlab.com/BraveeSnow/snows.world" target="_blank">Source</a>
    </div>
  </li>
  <li class="flex flex-vert card" style="border-color: orange;">
    <img src="/images/projects/cayde.svg" alt="Cayde-6 icon" class="center" />
    <h3 class="center-text">Cayde-6</h3>
    <p>
      Cayde-6 is a Discord bot utilizing a front-end user interface. Planned to have integrations with various services
      (such as Destiny), Cayde-6 provides a set of useful utilities while hanging out with your friends.
    </p>
    <div class="flex flex-vert-end flex-between">
      <a href="https://gitlab.com/BraveeSnow/cayde-6-frontend" target="_blank" style="color: orange;">Source</a>
      <a href="https://cayde.snows.world" target="_blank" style="color: orange;">Launch Project</a>
    </div>
  </li>
  <li class="flex flex-vert card" style="border-color: hotpink;">
    <img src="/images/projects/apocrypha.svg" alt="Apocrypha.css icon" class="center" />
    <h3 class="center-text">apocrypha.css</h3>
    <p>
      A minimal classless CSS framework with customizability in mind. Coming soon.
    </p>
  </li>
</ul>

<style>
  .card img {
    width: 12rem;
  }
</style>
