<script lang="ts">
  import { t } from "svelte-i18n";
</script>

<div class="center-text">
  <h1 class="color-primary">{$t("skills.title")}</h1>
</div>

<div class="desktop-split">
  <div class="card">
    <h2 class="center-text">{$t("skills.langs")}</h2>
    <ul id="languages" class="implicit-list">
      <li>
        <div class="flex">
          <img src="/images/js.svg" alt="JavaScript logo" />
          <h6>JavaScript</h6>
        </div>
        <div class="flex flex-vert-center no-margin">
          <p>90%</p>
          <progress max="100" value="90" />
        </div>
      </li>

      <li>
        <div class="flex">
          <img src="/images/python.svg" alt="Python logo" />
          <h6>Python</h6>
        </div>
        <div class="flex flex-vert-center no-margin">
          <p>85%</p>
          <progress max="100" value="85" />
        </div>
      </li>

      <li>
        <div class="flex">
          <img src="/images/java.svg" alt="Java logo" />
          <h6>Java</h6>
        </div>
        <div class="flex flex-vert-center no-margin">
          <p>60%</p>
          <progress max="100" value="60" />
        </div>
      </li>

      <li>
        <div class="flex">
          <img src="/images/cpp.svg" alt="C++ logo" />
          <h6>C++</h6>
        </div>
        <div class="flex flex-vert-center no-margin">
          <p>50%</p>
          <progress max="100" value="50" />
        </div>
      </li>
    </ul>
  </div>

  <div id="tools" class="card">
    <h2 class="center-text">{$t("skills.tools")}</h2>
    <ul class="implicit-list">
      <li class="flex flex-vert-center">
        <img src="/images/vscode.svg" alt="Visual Studio Code logo" />
        <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>
      </li>
      <li class="flex flex-vert-center">
        <img src="/images/affinity.svg" alt="Serif Affinity logo" />
        <a href="https://affinity.serif.com/" target="_blank">Affinity Suite</a>
      </li>
      <li class="flex flex-vert-center">
        <img src="/images/git.svg" alt="Git logo" />
        <a href="https://git-scm.com/" target="_blank">Git</a>
      </li>
      <li class="flex flex-vert-center">
        <img src="/images/insomnia.svg" alt="Insomnia logo" />
        <a href="https://insomnia.rest/" target="_blank">Insomnia</a>
      </li>
    </ul>
  </div>
</div>

<style lang="scss">
  #languages {
    img {
      padding-right: 1.5rem;
      width: 1.5rem;
    }

    progress {
      margin-left: 1rem;
      width: 100%;
    }
  }

  #tools {
    img {
      margin: 0.5rem 0;
      width: 3rem;
    }

    a {
      margin-left: 1rem;
    }
  }
</style>
