<script lang="ts">
  import type { PageData } from "./$types";
  export let data: PageData;
</script>

<div class="center-text">
  {#if data.feedback == "success"}
    <h1 class="color-primary">Success!</h1>
    <br />
    <p>Your message has been forwarded. You should receive an automated e-mail momentarily for confirmation.</p>
  {:else if data.feedback == "failure"}
    <h1 class="color-primary">Failure.</h1>
    <br />
    <p>Your message could not be forwarded due to an error in the back-end.</p>
    <p>Please try again.</p>
  {:else}
    <h1 class="color-primary">Malformed Request.</h1>
    <br />
    <p>Your request contained malformed data.</p>
  {/if}
</div>
