@use "@apocrypha/core/scss/apocrypha.scss" as * with (
  $use-bracket-link: true
);

@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap);

* {
  font-family: JetBrains Mono, monospace;
}

a {
  font-size: inherit;
}

form {
  border-left: none;
  border-right: none;
  padding: 2rem;
}

.img-filter {
  filter: invert(81%) sepia(31%) saturate(6527%) hue-rotate(312deg) brightness(118%) contrast(99%);
}

.flex-between {
  justify-content: space-between;
}

.flex-vert-center {
  align-items: center;
}

.flex-vert-end {
  margin-top: auto;
}

.desktop-split {
  display: block;
}

@media screen and (min-width: 60rem) {
  .desktop-split {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.no-margin * {
  margin: 0;
}

.implicit-list {
  display: block;
  list-style: none;
  padding-left: unset;
}

.card {
  border: thin solid var(--accent-primary);
  border-radius: var(--corner-radius);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
}
