<script lang="ts">
  import { locale, locales, t } from "svelte-i18n";

  function expandNavbar() {
    document.getElementById("navbar-content")?.classList.toggle("active");
  }
</script>

<nav class="navbar">
  <h1>Snow's World</h1>
  <button type="button">
    <img class="img-filter" src="https://cdn.snows.world/images/icons/hamburger.svg" alt="Hamburger icon" />
  </button>
  <hr />
  <ul id="navbar-content">
    <li>
      <a href="/">{$t("navbar.home")}</a>
    </li>
    <li>
      <a href="/skillset">{$t("navbar.skills")}</a>
    </li>
    <li>
      <a href="/projects">{$t("navbar.projects")}</a>
    </li>
    <li>
      <a href="/contact">{$t("navbar.contact")}</a>
    </li>
    <li>
      <select id="lang-select" bind:value={$locale}>
        {#each $locales as lang}
          {#if lang == $locale}
            <option value={lang} selected>{lang}</option>
          {:else}
            <option value={lang}>{lang}</option>
          {/if}
        {/each}
      </select>
    </li>
  </ul>
</nav>

<style lang="scss">
  #lang-select {
    border: none;
    margin: 0;
    padding: 0 0.5rem;
  }
</style>
